.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 50px;
  max-width: 1920px;
  width: 100%;
  margin: 10px auto;
}

.nav div:nth-child(1) {
  margin-left: 10px;
}

.nav .menu {
  margin-right: 30px;
}

.nav a {
  color: #fff;
  text-decoration: none;
}

.menu a:hover {
  color: #74d7fe;
}

.nav i {
  font-size: 20px;
  z-index: 11;
}

.nav i:hover {
  cursor: pointer;
}

.mobile {
  z-index: 10;
  position: absolute;
  top: -100%;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #10264b;
  display: flex;
  flex-direction: column;
  gap: 25px;
  justify-content: center;
  align-items: center;
  transition: 0.3s;
}

.mobile div {
  position: absolute;
  top: 25px;
  left: 25px;
}

.mobile div:nth-child(1) {
  margin: 0;
}

.mobile.open {
  transform: translateY(100%);
}

.mobile.close {
  transform: translateY(0%);
}

.menu {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  width: 300px;
  display: none;
}

.nav div .nav-logo:not(.nav .mobile.open .nav-logo) {
  color: black;
}

.menu a:not(.menu a:nth-child(1)) {
  margin-left: 30px;
}

.fa-solid.fa-bars.bars {
  margin-right: 20px;
}

.fa-solid.fa-x.x {
  margin-right: 20px;
  color: #fff;
}

@media only screen and (min-width: 660px) {
  .menu {
    display: flex;
  }
  .nav a {
    color: #10264b;
  }
  .mobile {
    display: none;
  }
  .nav i:not(.menu i) {
    display: none;
  }
}

@media only screen and (min-width: 768px) {
  .nav div:nth-child(1) {
    margin-left: 30px;
  }
}
