.account {
  display: flex;
  justify-content: center;
  margin: 10px;
}

.account-wrapper {
  padding: 20px;
}

.account-wrapper h1 {
  font-size: 33px;
}

.account-wrapper h2 {
  font-size: 30px;
}

.account-wrapper h1,
.account-wrapper h2 {
  color: #10264b;
  font-weight: 700;
  line-height: 29px;
}

.account-wrapper,
.account-reservaitons {
  border: 1px solid #d7d7d7;
}

.account-personal {
  margin: 15px 0;
}

.account-reservaitons {
  width: 1000px;
  margin: 10px 0;
  padding: 10px;
  display: flex;
  gap: 20px;
}
