.account {
  display: flex;
  justify-content: center;
  margin: 10px;
}

.account-wrapper {
  padding: 20px;
  border: 1px solid #d7d7d7;
  min-width: 400px;
}

.account-wrapper h1 {
  font-size: 33px;
}

.account-wrapper h2 {
  font-size: 30px;
}

.account-wrapper h1,
.account-wrapper h2 {
  color: #10264b;
  font-weight: 700;
  line-height: 29px;
}

.account-personal {
  margin: 15px 0;
}

.account-reservaitons {
  max-width: 1000px;
  margin: 10px 0;
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
  justify-content: center;
}

.account-link {
  padding: 20px 0;
}

.account-link a {
  display: block;
  color: #fff;
  text-decoration: none;
  cursor: pointer;
  background-color: #74d7fe;
  padding: 10px;
  border-radius: 5px;
  margin-top: 10px;
}
