.car {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  border: 2px solid #d7d7d7;
  border-radius: 5px;
  padding: 25px 0;
  margin-bottom: 15px;
  flex-wrap: wrap;
}

.car-info {
  margin-top: 25px;
  display: flex;
  flex-direction: column;
  width: 300px;
}

.car-info-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.car-info-wrapper div span,
.car-info-wrapper a {
  margin-left: 10px;
}

.car-info-wrapper a {
  width: 100%;
  text-align: center;
  text-decoration: none;
  background-color: #74d7fe;
  color: #fff;
  padding: 10px 0;
  border-radius: 5px;
  font-weight: bold;
  transition: 0.3s;
  border: 2px solid #74d7fe;
}

.car-info-wrapper a:hover {
  background-color: #fff;
  color: #74d7fe;
}

.info {
  display: flex;
  flex-wrap: wrap;
}

.info div {
  margin: 10px;
}

@media only screen and (max-width: 450px) {
  .car .car-image img {
    width: 250px;
    height: 82px;
  }
}
