.login-wrapper {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  gap: 50px;
  max-width: 1000px;
  margin: 30px auto;
}

.login-form {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  background-color: #10264b;
  height: 200px;
  width: 45%;
}

.login-container {
  height: 100%;
}

.login-container form {
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
  height: 100%;
  padding: 0px 50px;
}

.login-container form div {
  display: flex;
  flex-direction: column;
}

.login-container form span {
  color: #74d7fe;
  font-size: 20px;
  font-weight: 400;
}

.register-wrapper {
  color: #212529;
  width: 45%;
  background-color: rgba(214, 214, 214, 40%);
  padding: 20px 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.wrapper {
  display: flex;
  flex-direction: column;
  padding: 0 50px;
}

.register-wrapper .heading {
  text-align: center;
  font-size: 20px;
  font-weight: 400;
}

.list {
  margin-top: 20px;
}

.list ul li {
  margin: 10px 0;
}

.list,
.register-form {
  font-size: 14px;
}

.register-form {
  width: 100%;
}

.register-form form {
  display: flex;
  flex-direction: column;
  margin: 15px 0;
}

.register-form span {
  font-size: 12px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.login-form,
.register-wrapper {
  border-radius: 5px;
}

.login-form form div.hidden {
  display: none;
}

.register-wrapper .register-btn {
  background-color: #10264b;
  border: none;
}

.register-form.hidden,
.register-btn.hidden,
.ui-btn.hidden {
  display: none;
}

.register-wrapper .ui-btn {
  margin-top: 10px;
}

.login-container div .ui-input,
.register-wrapper .ui-input {
  margin-top: 5px;
}

.two-register-inputs {
  display: flex;
  justify-content: space-between;
}

.two-register-inputs input {
  width: 49%;
}

@media only screen and (max-width: 768px) {
  .login-form,
  .register-wrapper {
    width: 80%;
  }
}

@media only screen and (max-width: 425px) {
  .login-form,
  .register-wrapper {
    width: 100%;
    margin: 0 20px;
  }
}

@media only screen and (max-width: 375px) {
  .login-form form,
  .wrapper {
    padding: 0px 30px;
  }

  .login-container form span {
    font-size: 17px;
  }
}
